flow.json
[{"id":"ecf11df1.d211e","type":"tab","label":"iot bridge","disabled":false,"info":""},{"id":"1e8bf125.a9ab1f","type":"tab","label":"directory index","disabled":false,"info":""},{"id":"a35dd8a2.ab3d08","type":"subflow","name":"add device","info":"","category":"","in":[{"x":100,"y":60,"wires":[{"id":"e04c668.9cf4e98"}]}],"out":[{"x":360,"y":60,"wires":[{"id":"e04c668.9cf4e98","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ce4b639b.3723","type":"websocket-listener","z":"","path":"/","wholemsg":"true"},{"id":"41d7099e.c1b528","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2924b1b.1a3b34e","type":"http in","z":"1e8bf125.a9ab1f","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["ce78831a.ad47f"]]},{"id":"755fa973.f4aeb8","type":"template","z":"1e8bf125.a9ab1f","name":"create index","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<body>\n<h1>Directory Index</h1>\n{{#files}}\n    <div><a href=\"{{.}}\">./{{.}}</a></div>\n{{/files}}\n</body>\n</html>","output":"str","x":790,"y":140,"wires":[["cd1b1ba.f606ae8"]]},{"id":"a48f1c3f.ac489","type":"switch","z":"1e8bf125.a9ab1f","name":"has index file?","property":"files","propertyType":"msg","rules":[{"t":"cont","v":"index.htm","vt":"str"},{"t":"cont","v":"index.html","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":420,"y":100,"wires":[["51da81ee.069b1"],["4a44342a.3507bc"],["71e030d5.8b316"]],"outputLabels":["","index.html exists",""]},{"id":"cd1b1ba.f606ae8","type":"http response","z":"1e8bf125.a9ab1f","name":"","statusCode":"","headers":{},"x":950,"y":100,"wires":[]},{"id":"b3c96237.7b6dd","type":"file in","z":"1e8bf125.a9ab1f","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"x":810,"y":100,"wires":[["cd1b1ba.f606ae8"]]},{"id":"ed32dca4.676e3","type":"change","z":"1e8bf125.a9ab1f","name":"","rules":[{"t":"set","p":"path","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":240,"wires":[[]]},{"id":"4a44342a.3507bc","type":"function","z":"1e8bf125.a9ab1f","name":"index.html","func":"msg.filename = flow.get(\"path\") + \"index.html\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["b3c96237.7b6dd"]]},{"id":"51da81ee.069b1","type":"function","z":"1e8bf125.a9ab1f","name":"index.htm","func":"msg.filename = flow.get(\"path\") + \"index.htm\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["b3c96237.7b6dd"]]},{"id":"71e030d5.8b316","type":"function","z":"1e8bf125.a9ab1f","name":"filter entries","func":"msg.files.forEach(function(element, index) {\n    if ((element.substring(0,1) == \".\") || (element.substring(0,1) == \"_\")) {\n        delete msg.files[index];\n    }\n});\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["755fa973.f4aeb8"]]},{"id":"a1aadb03.7f4998","type":"inject","z":"1e8bf125.a9ab1f","name":"","topic":"","payload":"/home/pi/webserver/","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":240,"wires":[["ed32dca4.676e3","3be46e95.84c172"]]},{"id":"abfadcf7.b4c37","type":"websocket in","z":"ecf11df1.d211e","name":"","server":"ce4b639b.3723","client":"","x":670,"y":100,"wires":[["f249c25f.c430d","33feae6.b85fd52","e29481d1.a671c"]]},{"id":"e29481d1.a671c","type":"mqtt out","z":"ecf11df1.d211e","name":"","topic":"","qos":"","retain":"","broker":"41d7099e.c1b528","x":830,"y":140,"wires":[]},{"id":"ab971fc6.4735b","type":"comment","z":"ecf11df1.d211e","name":"to hardware","info":"","x":650,"y":60,"wires":[]},{"id":"a74d53dc.f6857","type":"mqtt in","z":"ecf11df1.d211e","name":"","topic":"iot/#","qos":"2","datatype":"auto","broker":"41d7099e.c1b528","x":90,"y":100,"wires":[["dead7b0e.7b8388"]]},{"id":"2b5db84f.e48668","type":"websocket out","z":"ecf11df1.d211e","name":"","server":"ce4b639b.3723","client":"","x":370,"y":140,"wires":[]},{"id":"5abfa5ae.0350cc","type":"comment","z":"ecf11df1.d211e","name":"to axure","info":"","x":80,"y":60,"wires":[]},{"id":"33feae6.b85fd52","type":"change","z":"ecf11df1.d211e","name":"","rules":[{"t":"set","p":"just_sent","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":100,"wires":[[]]},{"id":"dead7b0e.7b8388","type":"switch","z":"ecf11df1.d211e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"just_sent","vt":"flow"},{"t":"cont","v":"$STATUS","vt":"str"},{"t":"cont","v":"$COMMAND","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":100,"wires":[[],["14b4ccc7.2ecb73"],[],["2b5db84f.e48668","85dcf552.ead798"]]},{"id":"f249c25f.c430d","type":"debug","z":"ecf11df1.d211e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":60,"wires":[]},{"id":"85dcf552.ead798","type":"debug","z":"ecf11df1.d211e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":100,"wires":[]},{"id":"14b4ccc7.2ecb73","type":"debug","z":"ecf11df1.d211e","name":"internal state","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":60,"wires":[]},{"id":"5ddb3b9a.08ba34","type":"inject","z":"ecf11df1.d211e","name":"","topic":"","payload":"pwd","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["b67a01fe.752a"]]},{"id":"b67a01fe.752a","type":"mqtt out","z":"ecf11df1.d211e","name":"","topic":"iot/wemos01/$COMMAND/reboot","qos":"","retain":"","broker":"41d7099e.c1b528","x":340,"y":440,"wires":[]},{"id":"291eb186.56dd7e","type":"mqtt in","z":"ecf11df1.d211e","name":"","topic":"iot/+/$STATUS/state","qos":"2","datatype":"auto","broker":"41d7099e.c1b528","x":130,"y":260,"wires":[["eeca049.8e5f0f8"]]},{"id":"44ab537.584b2ac","type":"debug","z":"ecf11df1.d211e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":260,"wires":[]},{"id":"29365b.fa1f49a6","type":"comment","z":"ecf11df1.d211e","name":"track state changes","info":"","x":110,"y":220,"wires":[]},{"id":"3904de7b.95b962","type":"inject","z":"ecf11df1.d211e","name":"","topic":"","payload":"pwd","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["21857a32.2f9796"]]},{"id":"21857a32.2f9796","type":"mqtt out","z":"ecf11df1.d211e","name":"","topic":"iot/wemos01/$COMMAND/reset","qos":"","retain":"","broker":"41d7099e.c1b528","x":330,"y":500,"wires":[]},{"id":"8605622.bb9bea","type":"comment","z":"ecf11df1.d211e","name":"send test actions","info":"","x":100,"y":400,"wires":[]},{"id":"6cb93a8b.4b4b94","type":"comment","z":"1e8bf125.a9ab1f","name":"needed packages","info":" - [node-red-contrib-fs-ops](https://flows.nodered.org/node/node-red-contrib-fs-ops)","x":130,"y":380,"wires":[]},{"id":"197772fc.42e0cd","type":"comment","z":"1e8bf125.a9ab1f","name":"set webserver path","info":"","x":117.5,"y":202.49999618530273,"wires":[]},{"id":"24a6d6a3.aca18a","type":"comment","z":"1e8bf125.a9ab1f","name":"create index","info":"","x":90,"y":60,"wires":[]},{"id":"e04c668.9cf4e98","type":"function","z":"a35dd8a2.ab3d08","name":"get device","func":"var res = msg.topic.split(\"/\");\nmsg.device = res[1];\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[[]]},{"id":"eeca049.8e5f0f8","type":"subflow:a35dd8a2.ab3d08","z":"ecf11df1.d211e","name":"","x":320,"y":260,"wires":[["44ab537.584b2ac"]]},{"id":"ce78831a.ad47f","type":"fs-ops-dir","z":"1e8bf125.a9ab1f","name":"","path":"path","pathType":"flow","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":240,"y":100,"wires":[["a48f1c3f.ac489"]]},{"id":"3be46e95.84c172","type":"fs-ops-mkdir","z":"1e8bf125.a9ab1f","name":"","path":"path","pathType":"flow","dirname":"","dirnameType":"str","mode":"777","fullpath":"directory","fullpathType":"msg","x":380,"y":300,"wires":[["5bc47a0.4ded688"]]},{"id":"5bc47a0.4ded688","type":"debug","z":"1e8bf125.a9ab1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":300,"wires":[]},{"id":"e42b0323.bdf46","type":"comment","z":"1e8bf125.a9ab1f","name":"TO DO!!!","info":"- create server if it does not exist?","x":340,"y":340,"wires":[]}]